<div class="hero-unit">
	<center>
		<h1> Welcome to My Website </h1>
		<br></br>
		<p>
			<img src="http://media.mcla.us/images/players/19006.jpg"/>
			<br></br>

			Take a look at me

			
		</p>

	</center>
</div>
