
$navbarbackgroundHighlight: white;
$navbarBackground: white;

.header {

padding-bottom: 50px;
}

@import 'bootstrap' ;

	body {
		padding-top: 60px;

	}

@import 'bootstrap-responsive' ;

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}


.footer {

	margin-top: 50px;
	padding-bottom: 50px;
	color:$white;
	a{
		color:$white;
	}

}